{#############################################################################
 # @author    Florian Eichler <florian@eichler.co.at>
 # @author    Alexander Spengler <alexander.spengler@habanero-it.eu>
 # @copyright 2014 Florian Eichler, Alexander Spengler. All rights reserved.
 # @license   MINOR add a license
 # @version   0.1-dev
 #############################################################################}

{% set collapseId = 'navbar-collapse' %}
<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                {# Button for showing / hiding navigation on small screens #}
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#{{ collapseId }}">
                <span class="sr-only">
                    {{ siteLanguage.required('toggle_navbar') }}
                </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                {# Bootstrap "Brand Item" #}
                {% set route = '#' %}
                {% if siteBase.variable('route.brand') is not empty %}
                    {% set route = path(siteBase.variable('route.brand')) %}
                {% endif %}
                <a href="{{ route }}" class="navbar-brand">
                    {{ siteLanguage.required('brand') }}
                </a>
            </div>

            <div class="navbar-collapse collapse" id="{{ collapseId }}">
                <div class="navbar-right">
                    {{ siteMenu(siteBase.menu) }}
                </div>
            </div>
        </div>
    </nav>
</header>
