{% extends "ElektraThemeBundle:Parts/Footer:base-footer.html.twig" %}

{% block navbar_left_content %}
    <p class="navbar-text">
        &copy; {% trans %}site.admin.copyright{% endtrans %}
    </p>
{% endblock navbar_left_content %}

{% block navbar_right_content %}
    <ul class="navbar-nav nav">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>
    <span class="navbar-text">
        {{ 'layout.logged_in_as'|trans({'%firstname%': app.user.firstname, '%lastname%': app.user.lastname}, 'FOSUserBundle') }}
    </span>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            </li>
        {% endif %}
    </ul>
{% endblock navbar_right_content %}
