{#############################################################################
 # @author    Florian Eichler <florian@eichler.co.at>
 # @author    Alexander Spengler <alexander.spengler@habanero-it.eu>
 # @copyright 2014 Florian Eichler, Alexander Spengler. All rights reserved.
 # @license   MINOR add a license
 # @version   0.1-dev
 #############################################################################}

{% macro action(type, href, text, options) %}
    {% set render = 'button' %}
    {% set classes = 'action action-' ~ type %}
    {% set confirmMsg = '' %}
    {% if options.render is defined %}
        {% set render = options.render %}
    {% endif %}
    {% if options.class is defined %}
        {% set classes = classes ~ ' ' ~ options.class %}
    {% endif %}
    {% if render == 'button' %}
        {% set classes = classes ~ ' action-btn' %}
    {% endif %}
    {% if options.confirmMsg is defined %}
        {% set confirmMsg = ' onclick="return confirm(\'' ~ options.confirmMsg|escape ~ '\')"' %}
    {% endif %}
    <a
            href="{{ href }}"
            class="{{ classes }}"
            {{ confirmMsg|raw }}
            >
        <span class="icon"></span>
        <span class="text">{{ text }}</span>
    </a>
{% endmacro %}

{% macro view(href, text, options) %}
    {% import _self as actions %}
    {% set text = text|default(siteLanguage.required('actions.view')) %}
    {% set options = options|default({}) %}
    {% if options.render is not defined %}
        {% set options = options|merge({'render': 'link'}) %}
    {% endif %}

    {{ actions.action('view', href, text, options) }}
{% endmacro %}

{% macro add(href, text, options) %}
    {% import _self as actions %}
    {% set text = text|default(siteLanguage.required('actions.add')) %}
    {% set options = options|default({}) %}
    {{ actions.action('add', href, text, options) }}
{% endmacro %}

{% macro edit(href, text, options) %}
    {% import _self as actions %}
    {% set text = text|default(siteLanguage.required('actions.edit')) %}
    {% set options = options|default({}) %}
    {{ actions.action('edit', href, text, options) }}
{% endmacro %}

{% macro delete(href, text, options) %}
    {% import _self as actions %}
    {% set text = text|default(siteLanguage.required('actions.delete')) %}
    {% set options = options|default({}) %}
    {% if options.confirmMsg is not defined %}
        {% set options = options|merge({'confirmMsg': siteLanguage.required('common.confirm_delete')}) %}
    {% endif %}
    {{ actions.action('delete', href, text, options) }}
{% endmacro %}
