{#############################################################################
 # @author    Florian Eichler <florian@eichler.co.at>
 # @author    Alexander Spengler <alexander.spengler@habanero-it.eu>
 # @copyright 2014 Florian Eichler, Alexander Spengler. All rights reserved.
 # @license   MINOR add a license
 # @version   0.1-dev
 #############################################################################}

{% extends "ElektraSiteBundle:Areas:navbar.html.twig" %}
{#
DEFINE: define the links using the global "navigator" object - this has multiple options to generate the link:
 - {{ navigator.link(['<vendor>', '<bundle>' ,'<group>', '<type>']) }}
 - {{ navigator.link(['<vendor>', '<bundle>' ,'<group>', '<type>'], 'browse') }}
 - {{ path(navigator.route(['<vendor>', '<bundle>' ,'<group>', '<type>'])) }}
 - {{ path(navigator.route(['<vendor>', '<bundle>' ,'<group>', '<type>'], 'browse')) }}
In any option: if the second parameter is not defined, the navigator assumes the "browse" route
#}

{% import "ElektraSiteBundle:Macros:site.html.twig" as site %}

{% trans_default_domain "ElektraSeed" %}

{% block navbar_left_content %}
    <ul class="nav navbar-nav">
        <li>
            {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">Requests &#123;&#35; TRANSLATE &#35;&#125;<span class="dropdown-indicator"></span></a>#}
            {#<ul class="dropdown-menu">#}
            {#<li>#} {# CHECK comment out if submenu needed #}
            <a href="{{ navigator.link(['Elektra', 'Seed' ,'Requests', 'Request']) }}">Requests {# TRANSLATE #}</a>
            {#</li>#}
            {#</ul>#}
        </li>
        <li>
            {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports &#123;&#35; TRANSLATE &#35;&#125;<span class="dropdown-indicator"></span></a>#}
            {#<ul class="dropdown-menu">#}
            {#<li>#} {# CHECK comment out if submenu needed #}
            <a href="{{ '#' }}">Reports {# TRANSLATE TODO route needed#}</a>
            {#</li>#}
            {#</ul>#}
        </li>
    </ul>
{% endblock navbar_left_content %}


{% block navbar_right_content %}
    <ul class="nav navbar-nav">
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Companies {# TRANSLATE #}<span class="dropdown-indicator"></span></a>
            <ul class="dropdown-menu">
                {#<li class="dropdown-header">#}
                    {#<span class="dropdown-header-title">Partners &#123;&#35; TRANSLATE &#35;&#125;</span>#}
                {#</li>#}
                <li>
                    <a href="{{ navigator.link(['Elektra', 'Seed' ,'Companies', 'Partner']) }}">Partners {# TRANSLATE #}</a>
                </li>
                {#<li>#}
                    {#<a href="{{ navigator.link(['Elektra','Seed','Companies','CompanyLocation']) }}">Locations (route)&#123;&#35; TRANSLATE TODO route with filter needed&#35;&#125;</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="{{ '#' }}">Contacts (route)&#123;&#35; TRANSLATE TODO route with filter needed &#35;&#125;</a>#}
                {#</li>#}
                {#<li class="divider"></li>#}
                {#<li class="dropdown-header">#}
                    {#<span class="dropdown-header-title">Sales Teams &#123;&#35; TRANSLATE &#35;&#125;</span>#}
                {#</li>#}
                <li>
                    <a href="{{ navigator.link(['Elektra', 'Seed' ,'Companies', 'SalesTeam']) }}">Sales Teams {# TRANSLATE #}</a>
                </li>
                {#<li class="divider"></li>#}
                {#<li class="dropdown-header">#}
                    {#<span class="dropdown-header-title">Customers &#123;&#35; TRANSLATE &#35;&#125;</span>#}
                {#</li>#}
                <li>
                    <a href="{{ navigator.link(['Elektra', 'Seed' ,'Companies', 'Customer']) }}">Customers {# TRANSLATE #}</a>
                </li>
                {#<li>#}
                    {#<a href="{{ '#' }}">Locations (route)&#123;&#35; TRANSLATE TODO route with filter needed&#35;&#125;</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="{{ '#' }}">Contacts (route)&#123;&#35; TRANSLATE TODO route with filter needed &#35;&#125;</a>#}
                {#</li>#}
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Master Data {# TRANSLATE #}<span class="dropdown-indicator"></span></a>
            <ul class="dropdown-menu">
                <li class="dropdown-header">
                    <span class="dropdown-header-title">Seed Units {# TRANSLATE #}</span>
                </li>
                <li>
                    <a href="{{ navigator.link(['Elektra', 'Seed' ,'SeedUnits', 'SeedUnit']) }}">Seed Units {# TRANSLATE #}</a>
                </li>
                <li>
                    <a href="{{ navigator.link(['Elektra', 'Seed' ,'SeedUnits', 'SeedUnitModel']) }}">Models {# TRANSLATE #}</a>
                </li>
                <li>
                    <a href="{{ navigator.link(['Elektra', 'Seed' ,'SeedUnits', 'SeedUnitPowerCordType']) }}">Power Cord Types {# TRANSLATE #}</a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">
                    <span class="dropdown-header-title">Trainings {# TRANSLATE #}</span>
                </li>
                <li>
                    <a href="{{ navigator.link(['Elektra', 'Seed' ,'Trainings', 'Training']) }}">Trainings {# TRANSLATE #}</a>
                </li>
                <li>
                    <a href="{{ navigator.link(['Elektra', 'Seed' ,'Trainings', 'Registration']) }}">Registrations{# TRANSLATE #}</a>
                </li>
                <li>
                    <a href="{{ navigator.link(['Elektra', 'Seed' ,'Trainings', 'Attendance']) }}">Attendances {# TRANSLATE #}</a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">
                    <span class="dropdown-header-title">Geographic {# TRANSLATE #}</span>
                </li>
                <li>
                    <a href="{{ navigator.link(['Elektra', 'Seed' ,'Companies', 'Region']) }}">Regions {# TRANSLATE #}</a>
                </li>
                <li>
                    <a href="{{ navigator.link(['Elektra', 'Seed' ,'Companies', 'Country']) }}">Countries {# TRANSLATE #}</a>
                </li>
            </ul>
        </li>
    </ul>
{% endblock navbar_right_content %}