{#############################################################################
 # @author    Florian Eichler <florian@eichler.co.at>
 # @author    Alexander Spengler <alexander.spengler@habanero-it.eu>
 # @copyright 2014 Florian Eichler, Alexander Spengler. All rights reserved.
 # @license   MINOR add a license
 # @version   0.1-dev
 #############################################################################}

{% extends "ElektraSiteBundle:Areas:navbar.html.twig" %}
{#
DEFINE: define the links using the global "navigator" object - this has multiple options to generate the link:
 - {{ navigator.link(['<vendor>', '<bundle>' ,'<group>', '<type>']) }}
 - {{ navigator.link(['<vendor>', '<bundle>' ,'<group>', '<type>'], 'browse') }}
 - {{ path(navigator.route(['<vendor>', '<bundle>' ,'<group>', '<type>'])) }}
 - {{ path(navigator.route(['<vendor>', '<bundle>' ,'<group>', '<type>'], 'browse')) }}
In any option: if the second parameter is not defined, the navigator assumes the "browse" route
#}
{#
DEFINE menu structure for the admin area:
    Left Menu:
        Requests CHECK define required menu items for the Requests sub-menu
            List
        Companies (whole menu may need better spellings)
            Parnters
                List
                Locations
                Contacts
            Divider
            Customers
                List
                Locations
                Contacts
        Trainings
            Registrants
            Attandees
        Reports (to be defined) CHECK definition of reports menu

    Right Menu:
        Master Data
            Seed Units
                Models
                Power Cord Types
            Divider
            Trainings
                Dates
            Divider
            Geographic (maybe better word needed)
                Regions
                Countries
#}

{% import "ElektraSiteBundle:Macros:site.html.twig" as site %}

{% trans_default_domain "ElektraSeed" %}

{% block navbar_left_content %}
    <ul class="nav navbar-nav">
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Requests  {# TRANSLATE #}
                <span class="dropdown-indicator"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#">
                        List {# TRANSLATE #}
                    </a>
                </li>
                <li>
                    <a href="#">
                        TODO {# TRANSLATE #}
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Companies  {# TRANSLATE #}
                <span class="dropdown-indicator"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">
                    <span class="dropdown-header-title">
                        Partners {# TRANSLATE #}
                    </span>
                </li>
                <li>
                    <a href="#">
                        List {# TRANSLATE #}
                    </a>
                </li>
                <li>
                    <a href="#">
                        Locations {# TRANSLATE #}
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contacts {# TRANSLATE #}
                    </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">
                    <span class="dropdown-header-title">
                        Customers {# TRANSLATE #}
                    </span>
                </li>
                <li>
                    <a href="#">
                        List {# TRANSLATE #}
                    </a>
                </li>
                <li>
                    <a href="#">
                        Locations {# TRANSLATE #}
                    </a>
                </li>
                <li>
                    <a href="#">
                        Contacts {# TRANSLATE #}
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Trainings  {# TRANSLATE #}
                <span class="dropdown-indicator"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#">
                        Registrations {# TRANSLATE #}
                    </a>
                </li>
                <li>
                    <a href="#">
                        Attendances {# TRANSLATE #}
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Reports  {# TRANSLATE #}
                <span class="dropdown-indicator"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#">
                        TODO {# TRANSLATE #}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
{% endblock navbar_left_content %}


{% block navbar_right_content %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% trans from 'ElektraSeed' %}lang.seed.menu.master_data.title{% endtrans %}
                <span class="dropdown-indicator"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">
                    <span class="dropdown-header-title">
                        {% trans %}lang.seed.menu.master_data.seed_units.title{% endtrans %}
                    </span>
                </li>
                <li>
                    {#<a href="{{ path("ElektraSeedBundle_SeedUnits_SeedUnitModel_browse") }}">#}
                    <a href="{{ navigator.link(['Elektra','Seed','SeedUnits','SeedUnitModel'], 'browse') }}">
                        {% trans %}lang.seed.menu.master_data.seed_units.seed_unit_models{% endtrans %}
                    </a>
                </li>
                <li>
                    {#<a href="{{ path("ElektraSeedBundle_SeedUnits_SeedUnitPowerCordType_browse") }}">#}
                    <a href="{{ path(navigator.route(['Elektra','Seed','SeedUnits','SeedUnitPowerCordType'],'browse')) }}">
                        {% trans %}lang.seed.menu.master_data.seed_units.seed_unit_power_cord_types{% endtrans %}
                    </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">
                    <span class="dropdown-header-title">
                        Trainings {# TRANSLATE #}
                    </span>
                </li>
                <li>
                    <a href="{{ path("ElektraSeedBundle_Trainings_Training_browse") }}">
                        Dates {# TRANSLATE #}
                    </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">
                    <span class="dropdown-header-title">
                        {% trans %}lang.seed.menu.master_data.geographic.title{% endtrans %}
                    </span>
                </li>
                <li>
                    <a href="{{ path("ElektraSeedBundle_Companies_Region_browse") }}">
                        {% trans %}lang.seed.menu.master_data.geographic.regions{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="{{ path("ElektraSeedBundle_Companies_Country_browse") }}">
                        {% trans %}lang.seed.menu.master_data.geographic.countries{% endtrans %}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
{% endblock navbar_right_content %}