{% block table %}
    {% set checkboxes = false %}
    {% if table.options is defined %}
        {% if table.options.checkboxes is defined and table.options.checkboxes %}
            {% set checkboxes = true %}
        {% endif %}
    {% endif %}
    <div id="{{ table.id }}">
        {#{% if checkboxes %}#}
        {#<form method="post">#}
        {#{% endif %}#}
        {% set classes = 'table table-condensed table-striped table-' ~ table.crud.definition.name|lower %}
        {% if table.inView == false %}
        {% set classes = classes ~ ' table-bordered' %}
        {#{% if form_started is defined %}#}
        {#asdf#}
        {#{% endif %}#}
        {#{% if form is defined %}#}
        {#asdf1234#}
        {#{% endif %}#}
        {% set tableWidth = 12 %}
        {# URGENT embedded functionality #}
        {% if not table.crud.hasParent() %}
            {% if table.hasFilters or table.hasSearch %}
                {% set inFilter = true %}
                {#{% set filtersWidth = 2 %}#}
                {#{% set tableWidth = tableWidth - filtersWidth %}#}

                {{ block('table_filter_row') }}


            {% endif %}
        {% endif %}
        <div class="col-md-{{ tableWidth }}">
            {% endif %}
            <div class="table-responsive">
                <table class="{{ classes }}">
                    {{ block('table_head') }}
                    {{ block('table_foot') }}
                    {{ block('table_body') }}
                </table>
            </div>


            {% if table.inView == false %}
            {# URGENT embedded functionality #}
            {#{% if not table.crud.hasParent() %}#}
            {{ block('table_navigation') }}
            {#{% endif %}#}
        </div>

        {% endif %}
        {#{% if checkboxes %}#}
        {#</form>#}
        {#{% endif %}#}

    </div>
{% endblock table %}

{% block table_filter_row %}
    {{ siteBase.setVariable('counter', 0) }}
    {{ siteBase.setVariable('colSize', 3) }}
    {#{% set colSize = 3 %}#}
    {#{% set counter = 0 %}#}
    <div class="col-md-12">
        {% if form is not defined %}
        <form method="post" class="form-horizontal">
            {#C {{ counter }} C#}
            {#{{ siteBase.setv }}#}
            {% endif %}
            {#{% if counter == 12 %}#}
            {#counter reset#}
            {#{% set counter = 0 %}#}
            {#{% endif %}#}
            {#{{ siteBase.variable('counter') }}#}
            {#{% endif %}#}
            <div class="table-filters form-group">
                {% if table.hasSearch() %}
                    {{ block('table_search', {'counter': counter, 'colSize': colSize}) }}
                {% endif %}
                {% if table.hasFilters %}
                    {{ block('table_filters', {'counter': counter, 'colSize': colSize}) }}
                {% endif %}
            </div>
            {% if form is not defined %}
        </form>
        {% endif %}
    </div>
{% endblock table_filter_row %}

{% block table_head %}
    <thead>
    <tr>
        {% for index, column in table.columns.all %}
            {% if not column.hidden %}
                {{ block('table_head_cell') }}
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
{% endblock table_head %}

{% block table_head_cell %}
    {% set colType = column.type %}
    <th class="head-{{ index }} head-{{ colType }}">
        {% if colType == 'select' %}
            {{ block('table_head_cell_select') }}
        {% else %}
            {{ column.title }}
        {% endif %}
        {#{{ siteLanguage.required(column.title) }}#}
    </th>
{% endblock %}

{% block table_head_cell_select %}
    {% if form is defined %}
        <script type="text/javascript">
            function checkAll(elem) {
                checked = elem.checked;
                var boxes = jQuery('input[name^="{{ full_name }}"]');
                jQuery(boxes).each(function(index, element) {
                    element.checked = checked;
                });
            }
        </script>
        <input type="checkbox" onclick="checkAll(this);"/>
    {% elseif checkboxes %}
        {# URGENT implement second variant #}
        <script type="text/javascript">
            function checkAll(elem) {
                checked = elem.checked;
                var boxes = jQuery('input[name^="select"]');
                jQuery(boxes).each(function(index, element) {
                    element.checked = checked;
                });
            }
        </script>
        <input type="checkbox" onclick="checkAll(this);"/>
    {% endif %}
{% endblock table_head_cell_select %}

{% block table_foot %}
    <tfoot>
    <tr>
        <td colspan="{{ table.columns.all|length }}">
            {% import 'ElektraSiteBundle:macros:actions.html.twig' as actions %}
            {% if table.isAllowed('add') %}
                <span class="pull-right">{{ attribute(actions, 'add', [table.crud.linker.listAddLink(), siteLanguage.alternate('tables.' ~ table.crud.languageKey ~ '.actions.add', 'actions.add'), {}]) }}</span>
            {% endif %}
            {# URGENT embedded functionality #}
            {#{% if not table.crud.hasParent() %}#}
            {% if table.inView == false %}
                <span>{{ table.entryCount }} Entries</span> -
                <span>{{ siteLanguage.get('pagination.pages') }}</span>
            {% endif %}
            {#{% endif %}#}
        </td>
    </tr>
    </tfoot>
{% endblock table_foot %}

{% block table_body %}
    <tbody>
    {% if table.entries|length == 0 %}
        <tr class="warning">
            <td class="datarow-empty" colspan="{{ table.columns.all|length }}">
                {{ siteLanguage.alternate('tables.' ~ table.crud.languageKey ~ '.empty', 'tables.generic.empty') }}
            </td>
        </tr>
    {% else %}
        {#{{ form|length }}#}
        {#{% if form is defined %}#}
        {#asdf {{ form.vars.full_name }}#}
        {#{{ form|length }}#}
        {#{{ form.vars.child.name }}#}
        {#{{ form.vars.choices|length }}#}
        {#{% for key, value in form.vars.choices %}#}
        {#{{ key }}#}
        {#{% endfor %}#}
        {#&#123;&#35;{{ form.vars }}&#35;&#125;#}
        {#{% set offset = (table.pagination.page - 1) * table.pagination.limit %}#}
        {#{%  for key, child in form %}#}
        {#key {{ key }} ->#}
        {#&#123;&#35;{{ child.vars.name }}<br />&#35;&#125;#}
        {#{% endfor %}#}
        {#{% endif %}#}

        {#{% if form is defined %}#}
        {#{{ form|getClass }}#}
        {#{{ form_widget(form[1]) }}#}
        {#{{ form[1]|getClass }}#}
        {#{{ form.count }}#}
        {#&#123;&#35;{{ dump(form.hasChildren()) }}&#35;&#125;#}
        {#{% endif %}#}

        {#Offset: {{ offset }}<br/>#}
        {#{{ table.pagination.page }}#}
        {% for count, entry in table.entries %}
            <tr class="datarow-{{ count }}">
                {#count: {{ count }}<br/>#}
                {% for index, column in table.columns.all %}
                    {% if not column.hidden %}
                        {{ block('table_body_cell') }}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
{% endblock table_body %}

{% block table_body_cell %}
    {% set colType = column.type %}
    {% set rowNumber = count %}
    {% set data = column.displayData(entry, rowNumber) %}
    {% set class = 'col-' ~ index ~ ' col-' ~ colType %}
    {% if column.name != '' %}
        {% set class = class ~ ' col-'~ column.name %}
    {% endif %}
    <td class="{{ class }}">
        {% if colType == 'title' %}
            {{ block('table_body_cell_title') }}
        {% elseif colType == 'action' %}
            {{ block('table_body_cell_action') }}
        {% elseif colType == 'audit' %}
            {{ block('table_body_cell_audit') }}
        {% elseif colType == 'date' %}
            {{ block('table_body_cell_date') }}
        {% elseif colType == 'select' %}
            {{ block('table_body_cell_select') }}
        {% elseif colType == 'contact' %}
            {{ block('table_body_cell_contact') }}
        {% else %}
            {{ block('table_body_cell_default') }}
        {% endif %}
    </td>
{% endblock table_body_cell %}

{% block table_body_cell_select %}
    {#&#123;&#35;{{ form|length }}&#35;&#125;#}
    {#&#123;&#35;{{ entry.id }}&#35;&#125;#}
    {#&#123;&#35;{{ dump(form.offsetExists(entry.id)) }}&#35;&#125;#}
    {#{{ entry.id }}#}

    {% if form is defined %}
        {% if form.vars.renderType is defined %}
            {% if form.vars.renderType == 'selectList' %}
                {{ form_widget(form[entry.id],{'inTable':true}) }}
            {% endif %}
        {% else %}
            <input type="checkbox" id="{{ id }}" name="{{ full_name }}" value="{{ entry.id }}"/>
        {% endif %}

        {#{{ id }}#}
        {#{% set choice = form.vars.choices[entry.id] %}#}
        {#{{ id }} - {{ full_name }}<br />#}
        {#{% for a,b in value %}#}
        {#{{ a }} => {{ b }}<br />#}
        {#{% endfor %}#}


        {#{{ form_widget(form.vars.choices[entry.id],{'inTable':true}) }}#}
        {#{{    form.vars.choices[entry.id]|getClass }}}#}
        {#{{ form_widget(form[entry.id],{'inTable':true}) }}#}
    {% elseif checkboxes %}
        <input type="checkbox" id="select_{{ entry.id }}" name="select[]" value="{{ entry.id }}"/>
    {% endif %}
{% endblock table_body_cell_select %}

{% block table_body_cell_title %}
    {% import 'ElektraSiteBundle:macros:actions.html.twig' as actions %}

    <div>
        <strong>
            {% if table.isAllowed('view') %}
                {% set options = {} %}
                {% if data.class is defined %}
                    {% set options = options|merge({'class': data.class}) %}
                {% endif %}
                {{ attribute(actions, 'view', [data.link, data.title, options]) }}
            {% else %}
                {{ data.title }}
            {% endif %}
        </strong>
    </div>
    {% if data.other is iterable and data.other is not empty %}
        {% for string in data.other %}
            <div>{{ string }}</div>
        {% endfor %}
    {% endif %}
{% endblock table_body_cell_title %}

{% block table_body_cell_contact %}
    {% import 'ElektraSiteBundle:macros:actions.html.twig' as actions %}
    <div>
        <strong>
            {% if table.isAllowed('view') %}
                {% set options = {} %}
                {% if data.class is defined %}
                    {% set options = options|merge({'class': data.class}) %}
                {% endif %}
                {{ attribute(actions, 'view', [data.link, data.title, options]) }}
            {% else %}
                {{ data.title }}
            {% endif %}
        </strong>
        {% if data.type is defined and data.type == 'email' %}
            <span class="pull-right"><a href="mailto:{{ data.title }}"><i class="fa fa-at" title="Send Mail"></i></a></span>
        {% endif %}
    </div>
    {% if data.other is iterable and data.other is not empty %}
        {% for string in data.other %}
            <div>{{ string }}</div>
        {% endfor %}
    {% endif %}
{% endblock table_body_cell_contact %}


{% block table_body_cell_action %}
    {% import 'ElektraSiteBundle:macros:actions.html.twig' as actions %}

    {% for type, action in data %}
        {% set typeKey = 'tables.' ~ action.langKey ~ '.actions.' ~ type %}
        {% set alternateTypeKey = 'actions.' ~ type %}
        {% if action.confirm %}
            {% set confirmKey = 'tables.' ~ action.langKey ~ '.actions.confirmations.' ~ type %}
            {% set alternateConfirmKey = 'actions.confirmations.' ~ type %}
            {{ attribute(actions, type, [action.link, siteLanguage.alternate(typeKey, alternateTypeKey), { 'tooltip': siteLanguage.alternate(typeKey, alternateTypeKey), 'confirmMsg': siteLanguage.alternate(confirmKey, alternateConfirmKey) }]) }}
        {% else %}
            {{ attribute(actions, type, [action.link, siteLanguage.alternate(typeKey, alternateTypeKey), { 'tooltip': siteLanguage.alternate(typeKey, alternateTypeKey) }]) }}
        {% endif %}
    {% endfor %}
{% endblock table_body_cell_action %}

{% block table_body_cell_audit %}
    {# TODO add audits #}
    {% for type, audit in data %}
        <div>
            <span class="audit-tooltip" audit-toggle="tooltip" title="{{ audit.by }} - {{ audit.dateGMT }} {{ audit.timeGMT }} {{ audit.timeZoneGMT }}">
                {% if type == 'created' %}
                    <i class="fa fa-plus-square" style="color: #5cb85c;"></i>
                {% else %}
                    <i class="fa fa-pencil-square" style="color: #f0ad4e;"></i>
                {% endif %}
                {{ audit.dateGMT }} <span class="hidden-sm hidden-xs">{{ audit.timeGMT }}</span>
                {#{{ audit.by }}#}
            </span>
        </div>
    {% endfor %}
{% endblock table_body_cell_audit %}

{% block table_body_cell_date %}
    <div>
        <span class="date-tooltip" title="{{ data.dateGMT }} {{ data.timeGMT }} {{ data.timeZoneGMT }}">
            {{ data.dateGMT }} <span class="hidden-sm hidden-xs">{{ data.timeGMT }}</span>
        </span>
    </div>
{% endblock table_body_cell_date %}

{% block table_body_cell_default %}
    {% if data is iterable %}
        {% for index, value in data %}
            <div>
                {{ value }}
            </div>
        {% endfor %}
    {% else %}
        <div>
            {{ data }}
        </div>
    {% endif %}
{% endblock table_body_cell_default %}


{% block table_filters %}

    {% for definition in table.filters %}
        {{ siteBase.setVariable('counter', siteBase.variable('counter') + siteBase.variable('colSize')) }}
        {#{{ siteBase.variable('counter') }}#}

<div class="col-md-{{ siteBase.variable('colSize') }}">
    {% form_theme definition "ElektraSiteBundle::filter.html.twig" %}
    {{ form_widget(definition) }}
</div>
{% if siteBase.variable('counter') == 12 %}
</div>
<div class="table-filters form-group">
    {% endif %}
    {% endfor %}
    {% endblock table_filters %}

    {% block table_search %}
        {{ siteBase.setVariable('counter', siteBase.variable('counter') + siteBase.variable('colSize')) }}
        {#{{ siteBase.variable('counter') }}#}
        {#{{ counter }}#}
        {#{% set counter = counter + colSize %}#}
        {#{{ counter }}#}
        <div class="col-md-{{ siteBase.variable('colSize') }}">
            {% set field = table.searchField %}
            {% form_theme field "ElektraSiteBundle::filter.html.twig" %}
            {{ form_widget(field) }}
        </div>
    {% endblock table_search %}

    {% block table_navigation %}
        <div id="{{ table.id }}-pagination" class="table-pagination text-center">
            {% if table.entryCount > 0 %}
                {% if table.pagination.page > 1 %} {# Previous Link #}
                    <ul class="pager pull-left">
                        <li><a href="{{ table.pagination.pageLink(table.pagination.page-1) }}"><span class="page-link page-prev"></span>Prev</a></li>
                    </ul>
                {% endif %}
                {% if table.pagination.page < table.pagination.maxPage %} {# Next Link #}
                    <ul class="pager pull-right">
                        <li><a href="{{ table.pagination.pageLink(table.pagination.page+1) }}">Next<span class="page-link page-next"></span></a></li>
                    </ul>
                {% endif %}
                {% if table.pagination.maxPage > 1 %}
                    {% set page, lastPage, linkCount = table.pagination.page, table.pagination.maxPage, table.pagination.linkCount %}
                    <ul class="pagination pagination-sm">
                        {# first page #}
                        {% if page == 1 %}
                            <li class="active"><a href="{{ table.pagination.pageLink(1) }}">1</a></li>
                        {% elseif table.pagination.prevSpace %}
                            <li><a href="{{ table.pagination.pageLink(1) }}"><span class="page-link page-first"></span>1</a></li>
                        {% else %}
                            <li><a href="{{ table.pagination.pageLink(1) }}">1</a></li>
                        {% endif %}
                        {# dots for difference between first and next displayed #}
                        {% if table.pagination.prevSpace %}
                            <li class="disabled"><span>...</span></li>
                        {% endif %}
                        {# pages links before actual - depending on linkCount #}
                        {% for i in linkCount..1 %}
                            {% set linkPage = page - i %}
                            {% if linkPage > 1 %} {# > 1 => first page is already shown #}
                                <li><a href="{{ table.pagination.pageLink(linkPage) }}">{{ linkPage }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {# actual #}
                        {% if page != 1 and page != lastPage %}
                            <li class="active"><a href="{{ table.pagination.pageLink(page) }}">{{ page }}</a></li>
                        {% endif %}
                        {# pages links after actual - depending on linkCount #}
                        {% for i in 1..linkCount %}
                            {% set linkPage = page + i %}
                            {% if linkPage < lastPage %} {# - 1 => last page will be shown anyway #}
                                <li><a href="{{ table.pagination.pageLink(linkPage) }}">{{ linkPage }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {# dots for difference between last and previous displayed #}
                        {% if table.pagination.nextSpace %}
                            <li class="disabled"><span>...</span></li>
                        {% endif %}
                        {# last page #}
                        {% if page == lastPage %}
                            <li class="active"><a href="{{ table.pagination.pageLink(lastPage) }}">{{ lastPage }}</a></li>
                        {% elseif table.pagination.nextSpace %}
                            <li><a href="{{ table.pagination.pageLink(lastPage) }}">{{ lastPage }}<span class="page-link page-last"></span></a></li>
                        {% else %}
                            <li><a href="{{ table.pagination.pageLink(lastPage) }}">{{ lastPage }}</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            {% endif %}
        </div>
        {% if table.crud.hasParent() %}
            {#<script type="text/javascript">#}
            {#var showBackdrop = function() {#}
            {#var $backdrop = jQuery('<div id="#request_backdrop" class="modal-backdrop fade"></div>').appendTo(jQuery('body'));#}
            {#$backdrop.animate({opacity: 0.75}, 75);#}

            {#return $backdrop;#}
            {#}#}

            {#var removeBackdrop = function($backdrop) {#}

            {#$backdrop.animate({opacity: 0}, 75);#}
            {#$backdrop.remove();#}
            {#}#}

            {#jQuery(document).ready(function() {#}
            {#var $tableId = '#{{ table.id }}';#}
            {#var $paginationId = '#{{ table.id }}' + '-pagination';#}

            {#jQuery($paginationId + " a").each(function(index, element) {#}
            {#jQuery(element).on('click', function(event) {#}
            {#event.preventDefault();#}
            {#var $link = jQuery(this).attr('href');#}
            {#var $backdrop = showBackdrop();#}
            {#jQuery.ajax({#}
            {#url: $link,#}
            {#success: function(response) {#}
            {#jQuery($tableId).replaceWith(jQuery(response).find($tableId));#}
            {#removeBackdrop($backdrop);#}
            {#}#}
            {#})#}
            {#})#}
            {#});#}

            {#});#}
            {#</script>#}
        {% endif %}
    {% endblock table_navigation %}

