{% block table %}
    {% set classes = 'table table-condensed table-striped table-' ~ table.crud.definition.name|lower %}
    {% if table.inView == false %}
        {% set classes = classes ~ ' table-bordered' %}
        <form method="post" class="form-horizontal">
        {% set tableWidth = 12 %}
        {# URGENT embedded functionality #}
        {% if not table.crud.hasParent() %}
            {% if table.hasFilters or table.hasSearch %}
                {% set filtersWidth = 2 %}
                {% set tableWidth = tableWidth - filtersWidth %}
                <div class="col-md-{{ filtersWidth }}">
                    <div class="table-filters">
                        {% if table.hasSearch() %}
                            {{ block('table_search') }}
                        {% endif %}
                        {% if table.hasFilters %}
                            {{ block('table_filters') }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        <div class="col-md-{{ tableWidth }}">
        <div class="table-responsive">
    {% endif %}
    <table class="{{ classes }}">
        {{ block('table_head') }}
        {{ block('table_foot') }}
        {{ block('table_body') }}
    </table>
    {% if table.inView == false %}
        </div>
        {# URGENT embedded functionality #}
        {% if not table.crud.hasParent() %}
            {#{{ block('table_navigation') }}#}
        {% endif %}
        </div>
        </form>
    {% endif %}
{% endblock table %}

{% block table_head %}
    <thead>
    <tr>
        {% for index, column in table.columns.all %}
            {% if not column.hidden %}
                {{ block('table_head_cell') }}
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
{% endblock table_head %}

{% block table_head_cell %}
    <th class="head-{{ index }} head-{{ column.type }}">
        {{ siteLanguage.required(column.title) }}
    </th>
{% endblock %}

{% block table_foot %}
    <tfoot>
    <tr>
        <td colspan="{{ table.columns.all|length }}">
            {% import 'ElektraSiteBundle:macros:actions.html.twig' as actions %}
            {#{{ table.crud.linker.listAddLink() }}#}
            {#{{ siteLanguage.alternate('table.' ~ table.crud.languageKey ~ '.actions.add', 'table.actions.add') }}#}
            <span class="pull-right">{{ attribute(actions, 'add', [table.crud.linker.listAddLink(), siteLanguage.alternate('tables.' ~ table.crud.languageKey ~ '.actions.add', 'actions.add'), {}]) }}</span>
            {# URGENT embedded functionality #}
            {% if not table.crud.hasParent() %}
                <span>{{ siteLanguage.get('pagination.pages') }}</span>
            {% endif %}
        </td>
    </tr>
    </tfoot>
{% endblock table_foot %}

{% block table_body %}
    <tbody>
    {% if table.entries|length == 0 %}
        <tr class="warning">
            <td class="datarow-empty" colspan="{{ table.columns.all|length }}">
                {{ siteLanguage.alternate('tables.' ~ table.crud.languageKey ~ '.empty', 'tables.generic.empty') }}
            </td>
        </tr>
    {% else %}
        {% for count, entry in table.entries %}
            <tr class="datarow-{{ count }}">
                {% for index, column in table.columns.all %}
                    {% if not column.hidden %}
                        {{ block('table_body_cell') }}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
{% endblock table_body %}

{% block table_body_cell %}
    {% set colType = column.type %}
    {% set data = column.displayData(entry) %}
    <td class="col-{{ index }} col-{{ column.type }}">
        {% if colType == 'title' %}
            {{ block('table_body_cell_title') }}
        {% elseif colType == 'action' %}
            {{ block('table_body_cell_action') }}
        {% elseif colType == 'audit' %}
            {{ block('table_body_cell_audit') }}
        {% else %}
            {{ block('table_body_cell_default') }}
        {% endif %}
    </td>
{% endblock table_body_cell %}

{% block table_body_cell_title %}
    {% import 'ElektraSiteBundle:macros:actions.html.twig' as actions %}

    <div>
        <strong>
        {% if table.isAllowed('view') %}
            {{ attribute(actions, 'view', [data.link, data.title, {}]) }}
        {% else %}
           {{ data.title }}
        {% endif %}
        </strong>
    </div>
    {% if data.other is iterable and data.other is not empty %}
        {% for string in data.other %}
            <div>{{ string }}</div>
        {% endfor %}
    {% endif %}
{% endblock table_body_cell_title %}

{% block table_body_cell_action %}
    {% import 'ElektraSiteBundle:macros:actions.html.twig' as actions %}

    {% for type, action in data %}
        {% set typeKey = 'tables.' ~ action.langKey ~ '.actions.' ~ type %}
        {% set alternateTypeKey = 'actions.' ~ type %}
        {% if action.confirm %}
            {% set confirmKey = 'tables.' ~ action.langKey ~ '.actions.confirmations.' ~ type %}
            {% set alternateConfirmKey = 'actions.confirmations.' ~ type %}
            {{ attribute(actions, type, [action.link, siteLanguage.alternate(typeKey, alternateTypeKey), { 'confirmMsg': siteLanguage.alternate(confirmKey, alternateConfirmKey) }]) }}
        {% else %}
            {{ attribute(actions, type, [action.link, siteLanguage.alternate(typeKey, alternateTypeKey), {  }]) }}
        {% endif %}
    {% endfor %}
{% endblock table_body_cell_action %}

{% block table_body_cell_audit %}
    {# TODO add audits #}
    {% for type, audit in data %}
        <div>
            <span class="audit-tooltip" data-toggle="tooltip" title="{{ audit.date }}">
                {% if type == 'created' %}
                    <i class="fa fa-plus-square" style="color: #5cb85c;"></i>
                {% else %}
                    <i class="fa fa-pencil-square" style="color: #f0ad4e;"></i>
                {% endif %}
                {{ audit.by }}
            </span>
        </div>
    {% endfor %}
{% endblock table_body_cell_audit %}

{% block table_body_cell_default %}
    {% if data is iterable %}
        {% for index, value in data %}
            <div>
                {{ value }}
            </div>
        {% endfor %}
    {% else %}
        <div>
            {{ data }}
        </div>
    {% endif %}
{% endblock table_body_cell_default %}


{% block table_filters %}
    {% for definition in table.filters %}
        {% form_theme definition "ElektraSiteBundle::filter.html.twig" %}
        {{ form_widget(definition) }}
    {% endfor %}
{% endblock table_filters %}

{% block table_search %}
    {% set field = table.searchField %}
    {% form_theme field "ElektraSiteBundle::filter.html.twig" %}
    {{ form_widget(field) }}
{% endblock table_search %}

{% block table_navigation %}
    <div class="table-pagination text-center">
        {% if table.entryCount > 0 %}
            {% if table.pagination.page > 1 %} {# Previous Link #}
                <ul class="pager pull-left">
                    <li><a href="{{ table.pagination.pageLink(table.pagination.page-1) }}"><span class="page-link page-prev"></span>Prev</a></li>
                </ul>
            {% endif %}
            {% if table.pagination.page < table.pagination.maxPage %} {# Next Link #}
                <ul class="pager pull-right">
                    <li><a href="{{ table.pagination.pageLink(table.pagination.page+1) }}">Next<span class="page-link page-next"></span></a></li>
                </ul>
            {% endif %}
            {% if table.pagination.maxPage > 1 %}
                {% set page, lastPage, linkCount = table.pagination.page, table.pagination.maxPage, table.pagination.linkCount %}
                <ul class="pagination pagination-sm">
                    {# first page #}
                    {% if page == 1 %}
                        <li class="active"><a href="{{ table.pagination.pageLink(1) }}">1</a></li>
                    {% elseif table.pagination.prevSpace %}
                        <li><a href="{{ table.pagination.pageLink(1) }}"><span class="page-link page-first"></span>1</a></li>
                    {% else %}
                        <li><a href="{{ table.pagination.pageLink(1) }}">1</a></li>
                    {% endif %}
                    {# dots for difference between first and next displayed #}
                    {% if table.pagination.prevSpace %}
                        <li class="disabled"><span>...</span></li>
                    {% endif %}
                    {# pages links before actual - depending on linkCount #}
                    {% for i in linkCount..1 %}
                        {% set linkPage = page - i %}
                        {% if linkPage > 1 %} {# > 1 => first page is already shown #}
                            <li><a href="{{ table.pagination.pageLink(linkPage) }}">{{ linkPage }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {# actual #}
                    {% if page != 1 and page != lastPage %}
                        <li class="active"><a href="{{ table.pagination.pageLink(page) }}">{{ page }}</a></li>
                    {% endif %}
                    {# pages links after actual - depending on linkCount #}
                    {% for i in 1..linkCount %}
                        {% set linkPage = page + i %}
                        {% if linkPage < lastPage %} {# - 1 => last page will be shown anyway #}
                            <li><a href="{{ table.pagination.pageLink(linkPage) }}">{{ linkPage }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {# dots for difference between last and previous displayed #}
                    {% if table.pagination.nextSpace %}
                        <li class="disabled"><span>...</span></li>
                    {% endif %}
                    {# last page #}
                    {% if page == lastPage %}
                        <li class="active"><a href="{{ table.pagination.pageLink(lastPage) }}">{{ lastPage }}</a></li>
                    {% elseif table.pagination.nextSpace %}
                        <li><a href="{{ table.pagination.pageLink(lastPage) }}">{{ lastPage }}<span class="page-link page-last"></span></a></li>
                    {% else %}
                        <li><a href="{{ table.pagination.pageLink(lastPage) }}">{{ lastPage }}</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        {% endif %}
    </div>
{% endblock table_navigation %}

