{% macro action(type, href, text, render, confirmMsg) %}
    {% set render = render|default('button') %}
    {% set classes = 'action action-'~type %}
    {% set confirm = '' %}
    {% if confirmMsg|default('') != '' %}
        {% set confirm = ' onclick=\"return confirm(\''~confirmMsg|escape~'\');\"'|raw %}
    {% endif %}
    {% if render == 'button' %}
        {% set classes = classes ~ ' action-btn' %}
    {% endif %}

    <a href="{{ href }}" class="{{ classes }}"
            {% if confirmMsg|default('') != '' %}
                onclick="return confirm('{{ confirmMsg }}');"
            {% endif %}
            >
        <span class="icon"></span>
        <span class="text">{{ text|trans }}</span>
    </a>
{% endmacro %}

{% macro view(href, text, render) %}
    {% import _self as actions %}
    {% set text = text|default('site.admin.actions.view') %}
    {% set render = render|default('link') %}
    {{ actions.action('view', href, text, render) }}
{% endmacro %}

{% macro add(href, text, render) %}
    {% import _self as actions %}
    {% set text = text|default('site.admin.actions.add') %}
    {{ actions.action('add', href, text, render) }}
{% endmacro %}

{% macro edit(href, text, render) %}
    {% import _self as actions %}
    {% set text = text|default('site.admin.actions.edit') %}
    {{ actions.action('edit', href, text, render) }}
{% endmacro %}

{% macro delete(href, text, render) %}
    {% import _self as actions %}
    {% set text = text|default('site.admin.actions.delete') %}
    {{ actions.action('delete', href, text, render, 'site.generic.confirm_delete'|trans) }}
{% endmacro %}