{% macro show(table) %}

    {% import _self as tables %}

    {% if table.style.parameter('responsive') == true %}
        <div class="table-responsive">
    {% endif %}

    {{ tables.start(table) }}

    {{ tables.content(table) }}

    {{ tables.end(table) }}

    {% if table.style.parameter('responsive') == true %}
        </div>
    {% endif %}

    {#{% if not table.pagination.hidden %}#}
    {{ tables.pagination(table.pagination) }}
    {#{% endif %}#}
{% endmacro %}

{% macro start(table) %}

    {% set class = table.style.classes ? ' class="' ~ table.style.classes|join(' ') ~ '"' : '' %}
    {% set style = '' %}
    {% if table.style.style is not empty %}
        {% set style = ' style="' %}
        {% for property, value in table.style.style %}
            {% set style = style ~ property ~ ': ' ~ value ~ '; ' %}
        {% endfor %}
        {% set style = style ~ '"' %}
    {% endif %}
    {% set params = '' %}
    {% if table.parameters is not empty %}
        {% for name, value in table.parameters %}
            {% set params = params ~ ' ' ~ name ~ '="' ~ value ~ '"' %}
        {% endfor %}
    {% endif %}

<table{{ class|raw }}{{ style|raw }}{{ params|raw }}>
    {% endmacro %}

    {% macro end(table) %}
</table>
{% endmacro %}

{% macro content(table) %}

    {% import _self as tables %}

    {% if table.hasHeader %}
        <thead>
        {% for row in table.header %}
            {{ tables.row(table, 'th', row) }}
        {% endfor %}
        </thead>
    {% endif %}

    {% if table.hasFooter %}
        <tfoot>
        {% for row in table.footer %}
            {{ tables.row(table, 'td', row) }}
        {% endfor %}
        </tfoot>
    {% endif %}

    {% if table.hasContent %}
        <tbody>
        {% for row in table.content %}
            {{ tables.row(table, 'td', row) }}
        {% endfor %}
        </tbody>
    {% endif %}

{% endmacro %}

{% macro row(table, type, row) %}

    {% import _self as tables %}

    {% set class= row.classes ? ' class="' ~ row.classes|join(' ') ~ '"' : '' %}

    <tr{{ class|raw }}>
        {% for cell in row.cells %}
            {{ tables.cell(table, type, cell) }}
        {% endfor %}
    </tr>

{% endmacro %}

{% macro cell(table, type, cell) %}

    {% import _self as tables %}

    {% set class = cell.classes ? ' class="' ~ cell.classes|join(' ') ~ '"' : '' %}
    {% set style = '' %}
    {% if cell.style is not empty %}
        {% set style = ' style="' %}
        {% for property, value in cell.style %}
            {% set style = style ~ property ~ ': ' ~ value ~ '; ' %}
        {% endfor %}
        {% set style = style ~ '"' %}
    {% endif %}
    {% set colSpan = cell.columnSpan ? ' colspan="' ~ cell.columnSpan ~ '"' : '' %}
    {% set rowSpan = cell.rowSpan ? ' rowspan="' ~ cell.rowSpan ~ '"' : '' %}


    <{{ type }}{{ class|raw }}{{ style|raw }}{{ colSpan|raw }}{{ rowSpan|raw }}>
    {{ tables.cellContent(cell) }}
    </{{ type }}>

{% endmacro %}

{% macro cellContent(cell) %}
    {% import 'ElektraThemeBundle:Macros:actions.html.twig' as actions %}

    {% for item in cell.content %}

        {# item self #}
        {% if item.type == 'html' %}
            {{ item.content|raw }}
        {% elseif item.type == 'action' %}
            {{ attribute(actions, item.action, [item.link, item.text, item.options]) }}
        {% else %}
            {# UNKNOWN TYPE #}
        {% endif %}

    {% endfor %}
{% endmacro %}

{% macro pagination(pagination) %}
    {% import _self as tables %}
    {% set actPage = pagination.page %}
    <div class="text-center">
        <ul class="pagination">
            {{ tables.pagination_item(pagination.first, '<span class="page-link page-first"></span>', actPage) }}
            {{ tables.pagination_item(pagination.previous, '<span class="page-link page-prev"></span>', actPage) }}
            {% if pagination.previousSpace %}
                {{ tables.pagination_item('', '...') }}
            {% endif %}
            {% for linkPage, link in pagination.pageLinks %}
                {{ tables.pagination_item(link, linkPage, actPage) }}
            {% endfor %}
            {% if pagination.nextSpace %}
                {{ tables.pagination_item('', '...') }}
            {% endif %}
            {{ tables.pagination_item(pagination.next, '<span class="page-link page-next"></span>', actPage) }}
            {{ tables.pagination_item(pagination.last, '<span class="page-link page-last"></span>', actPage) }}
        </ul>
    </div>
{% endmacro %}

{% macro pagination_item(link, text, actPage) %}
    {% set liClass = '' %}
    {% set href = ' href="' ~ link ~ '"' %}
    {% set tag = 'a' %}
    {% if link is empty %}
        {% set liClass = ' class="disabled"' %}
        {% set tag = 'span' %}
        {% set href = '' %}
    {% endif %}
    {% if text == actPage %}
        {% set liClass = ' class="active"' %}
    {% endif %}

<li{{ liClass|raw }}>
    <{{ tag }}{{ href }}>{{ text|raw }}</{{ tag }}>
    </li>
{% endmacro %}