{% extends 'form_div_layout.html.twig' %}

{#############################################################################
 # Top level Containers
 #############################################################################}

{% block form %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {{ block('table_filter_row') }}
{% endblock form %}

{% block form_start %}
    {% set form_started = true %}
    {# check the form method #}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form role="form" name="{{ form.vars.name }}" method="{{ form_method }}" action="{{ action }}"
    {% for attrname, attrvalue in attr %}
        {% if attrname == 'css_class' %}
            {% set attrname = 'class' %}
        {% endif %}
        {{ attrname }}="{{ attrvalue }}"
    {% endfor %}
    {% if multipart %}
        enctype="multipart/form-data"
    {% endif %}
    >
    {# add the _method input #}
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}"/>
    {% endif %}
{% endblock form_start %}

{% block form_end %}
    {% if not render_rest is defined or render_rest %}
        {{- form_rest(form) -}}
    {% endif -%}
    </form>
{% endblock form_end %}

{#############################################################################
 # Generic rendering
 #############################################################################}

{% block form_rest %}
    {% for child in form -%}
        {% if not child.rendered %}
            {{- form_row(child) -}}
        {% endif %}
    {%- endfor %}
{% endblock form_rest %}

{#############################################################################
 # Error rendering
 #############################################################################}

{% block form_errors %}
    {% if errors|length > 0 -%}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {%- for error in errors -%}
            <span class="help-block">{{ error.message|trans }}</span>
        {%- endfor -%}
    {%- endif %}
{% endblock form_errors %}

{#############################################################################
 # Rows rendering
 #############################################################################}

{% block form_rows %}
    {# First, check if rows are grouped#}
    {% set groups, groupsType = false, '' %}
    {% for child in form if child.vars.name == 'actions_top' %}
        {# if an actions_top field is found, render this first (in order to be compatible with the tab navigation) #}
        {#<div class="pull-right">#}
        {{ form_row(child) }}
        {#</div>#}
    {% endfor %}
    {% for child in form if child.vars.render_type is defined %}

        {% set groups, groupsType = true, child.vars.render_type %}
    {% endfor %}

    {# If rows are grouped, start the grouping #}
    {% if groups %}
        {{ block('form_rows_groups_before') }}
    {% endif %}

    {# loop through the childs #}
    {% set containerOpen = false %}
    {% for child in form %}
        {% if child.vars.render_type is defined %}
            {% if containerOpen == false %}
                {{ block('form_rows_group_start') }}
                {% set containerOpen = true %}
            {% endif %}
        {% else %}
            {% if containerOpen == true %}
                {{ block('form_rows_group_end') }}
                {% set containerOpen = false %}
            {% endif %}
        {% endif %}
        {# render the actual row #}
        {{ form_row(child) }}
    {% endfor %}
    {% if containerOpen == true %}
        {{ block('form_rows_group_end') }}
        {% set containerOpen = false %}
    {% endif %}

    {# If rows are grouped, end the grouping #}
    {% if groups %}
        {{ block('form_rows_groups_after') }}
    {% endif %}

{% endblock form_rows %}

{# before grouping content (e.g. tab navigation) #}
{% block form_rows_groups_before %}
    {% if groupsType == 'tab' %}
        {# show the tab navigation #}
        <ul id="form-tab-nav" class="nav nav-tabs" role="tablist">
            {% for child in form if child.vars.render_type is defined %}
                <li{% if child.vars.first %} class="active"{% endif %}>
                    <a href="#form-tab-{{ child.vars.id }}" role="tab" data-toggle="tab">
                        {{ child.vars.label|trans({}, translation_domain) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock form_rows_groups_before %}

{# after grouping content #}
{% block form_rows_groups_after %}
    {# nothing by now #}
{% endblock form_rows_groups_after %}

{# start of a form group #}
{% block form_rows_group_start %}
    {% if groupsType == 'fieldset' %}
{#<fieldset>#}
    {% elseif groupsType == 'panel' %}
<div class="panel-group" id="form-panel">
    {% elseif groupsType == 'tab' %}
    <div class="panel panel-default">
        <div class="tab-content" id="form-tab-content">
            {% endif %}
            {% endblock form_rows_group_start %}

            {# end of a form group #}
            {% block form_rows_group_end %}
            {% if groupsType == 'tab' %}
        </div>
    </div>
    {% elseif groupsType == 'panel' %}
</div>
    {% elseif groupsType == 'fieldset' %}
        {#</fieldset>#}
    {% endif %}
{% endblock form_rows_group_end %}

{#############################################################################
 # Specific Row Containers
 #############################################################################}

{# default rows #}
{% block form_row %}
    {% set class, innerClass = class|default('') ~ 'form-group', innerClass|default('') %}
    {% if errors|length > 0 %}
        {% set class = class ~ ' has-error has-feedback' %}
    {% endif %}
    {% if innerClass != 'none' %}
        {% if label is not sameas(false) %}
            {% set innerClass = innerClass ~ " col-md-10" %}
        {% else %}
            {% set innerClass = innerClass ~ " col-md-12" %}
        {% endif %}
    {% endif %}
    <div class="{{ class }}">
        {{ form_label(form) }}
        <div class="{{ innerClass }}">
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock form_row %}

{# groups #}
{% block group_row %}
    {% set groupsType = form.vars.render_type %}
    {% if groupsType == 'fieldset' %}
        <fieldset>
            <legend>
                {{ label|trans({}, translation_domain) }}
            </legend>
            {% for child in form %}
                {{- form_row(child) -}}
            {% endfor %}
        </fieldset>
    {% elseif groupsType == 'tab' %}
        <div id="form-tab-{{ id }}" class="tab-pane fade{% if first %} active in{% endif %}">
            <div class="panel-body">
                {% for child in form %}
                    {{- form_row(child) -}}
                {% endfor %}
            </div>
        </div>
    {% elseif groupsType == 'panel' %}
        <div class="panel panel-default">
            <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#form-panel" href="#form-panel-{{ id }}">{{ label|trans({}, translation_domain) }}</a></h4></div>
            <div id="form-panel-{{ id }}" class="panel-collapse collapse{% if first %} in{% endif %}">
                <div class="panel-body">
                    {% for child in form %}
                        {{- form_row(child) -}}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock group_row %}

{# button group row #}
{% block buttonGroup_row %}
    {{ block('button_row') }}
{% endblock buttonGroup_row %}

{# generic button rows #}
{% block button_row -%}
    {% set cssClass = 'form-group' %}
    {% if form.vars.alignment is defined %}
        {% set cssClass = cssClass ~ ' text-' ~ form.vars.alignment %}
    {% endif %}
    <div class="{{ cssClass }}">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row %}

{# checkbox row #}
{% block checkbox_row %}
    {% set innerClass = ' col-md-offset-2' %}
    {{- block('form_row') -}}
{% endblock checkbox_row %}


{# parent row (custom type) #}
{% block parent_row %}
    {% if form.vars.show_field %}
        {{ block('form_row') }}
    {% else %}
        {{- form_widget(form) -}}
    {% endif %}
{% endblock parent_row %}


{#############################################################################
 # Labels
 #############################################################################}

{# generic label #}
{% block form_label %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label class="col-md-2 control-label"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}
        </label>
    {% endif %}
{% endblock form_label %}

{# checkbox label #}
{% block checkbox_label %}
    {# NO Label to show at the default position #}
{% endblock checkbox_label %}

{#############################################################################
 # Labels - custom types
 #############################################################################}

{# parent label (custom type) #}
{% block parent_label %}
    {% if form.vars.show_field %}
        {{ block('form_label') }}
    {% endif %}
{% endblock parent_label %}

{#############################################################################
 # Widgets - core types
 #############################################################################}

{# generic widget #}
{% block form_widget %}
    {% if compound %}
        {{ block('form_widget_compound') }}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endblock form_widget %}

{# simple input widget #}
{% block form_widget_simple -%}
    {% set class = class|default('') %}
    {% set type = type|default('text') -%}
    <input class="form-control {{ class }}" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple %}

{# compound widget #}
{% block form_widget_compound -%}
    {%- if form.parent is not empty -%}
        <div {{ block('widget_container_attributes') }}>
    {% endif %}
    {%- if form.parent is empty -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
    {%- if form.parent is not empty -%}
        </div>
    {% endif %}
{%- endblock form_widget_compound %}

{# textarea widget #}
{% block textarea_widget -%}
    <textarea class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget %}

{# checkbox widget #}
{% block checkbox_widget -%}
    {% if inTable is not defined %}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {% endif %}
    {% if inTable is not defined %}
        <div class="checkbox">
        <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {% endif %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {% if inTable is not defined %}
        <b>{{ label|trans({}, translation_domain) }}</b>
        </label>
        </div>
    {% endif %}
{%- endblock checkbox_widget %}

{# choice widget (collapsed form) #}
{% block choice_widget_collapsed -%}
    {% set class = class|default('') %}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select class="form-control {{ class }}" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {%- endif %}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {% if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif %}
        {%- endif -%}
        {% set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed %}

{# choice widget options #}
{% block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ siteLanguage.required(group_label) }}">
                {#<optgroup label="{{ group_label|trans({}, translation_domain) }}">#}
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options %}

{#############################################################################
 # Widgets - custom types
 #############################################################################}

{# link widget (custom type) #}
{% block link_widget %}
    <a {{ block('button_attributes') }} href="{{ form.vars.link }}">
        {{ label }}
    </a>
{% endblock link_widget %}

{# button group widget (custom type) #}
{% block buttonGroup_widget %}
    {% for button in form.children %}
        {% if (button.vars.showForm is defined and button.vars.showForm == true) or button.vars.showForm is not defined %}
            {{ form_widget(button) }}
        {% endif %}
    {% endfor %}
{% endblock buttonGroup_widget %}

{# parent widget (custom type) #}
{% block parent_widget %}
    <input type="hidden" id="{{ id }}" name="{{ full_name }}" value="{{ value }}"/>
    {% if form.vars.show_field %}
        {% for label, choice in choices %}
            {% if choice is selectedchoice(value) %}
                <input type="text" class="form-control" disabled="disabled" value="{{ choice.label|trans({}, translation_domain) }}"/>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{# display widget (custom type) #}
{% block display_widget %}
    {#{% set type = type|default('text') -%}#}
    <span class="form-control" {{ block('widget_attributes') }}>
        {% if value is not empty %}{{ value|raw }}{% endif %}
    </span>
{% endblock display_widget %}

{# display widget (custom type) #}
{% block selectList_widget %}
{{ form_errors(form) }}
    {{ table(table) }}
{% endblock selectList_widget %}

{% block entityTable_widget %}
{{ table(table) }}
    {% for label, choice in choices %}
        {#{{ choice|getClass }}#}
        {#{{ choice.data|getClass }}#}
        {#{{ choice.data.shortName }}#}
        {#{{ choice.data.name }}#}
{#{{ label }} - {{ choice.label }} - {{ choice.value }}<br />#}
{% endfor %}
{#{% for key, value in form %}#}
    {#a#}
{#{{ key }}#}
{#{% endfor %}#}
{% endblock entityTable_widget %}

{#############################################################################
 # attribute helpers
 #############################################################################}

{% block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if read_only %} readonly="readonly"{% endif -%}
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"

        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_attributes %}

{% block widget_container_attributes -%}
    {%- if id is not empty %}id="{{ id }}"{% endif -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrname in ['placeholder', 'title'] -%}
            {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
        {% elseif attrname == 'class' %}
        {%- elseif attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock widget_container_attributes %}


