{% extends "ElektraSiteBundle::layout.html.twig" %}

{# TODO src: make the listing of entries generic #}
{% block body_component %}
    <div class="container">
        <table class="table table-condensed table-striped table-hover" style="width: 100%">
            <thead>
            <tr>
                <th style="width: 5%">ID</th>
                <th>Power Type</th>
                <th style="width: 15%" class="text-right">Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="3" class="text-right">
                    {{ macro.addLink(path('_cesu_seed_unit_power_types_add'),'New') }}
                </td>
            </tr>
            </tfoot>
            <tbody>
            {% if entries|length > 0 %}
                {% for powerType in entries %}
                    <tr>
                        <td>{{ powerType.powerTypeId }}</td>
                        <td>
                            <span><strong>{{ powerType.name }}</strong></span>

                            <p>{{ powerType.description }}</p>
                        </td>
                        <td class="text-right">
                            {{ macro.editLink(path('_cesu_seed_unit_power_types_edit', {'id': powerType.powerTypeId})) }}
                            {{ macro.deleteLink(path('_cesu_seed_unit_power_types_delete', {'id': powerType.powerTypeId})) }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td colspan="3">
                    No Power Types defined
                </td>
            {% endif %}
            </tbody>
        </table>

    </div>
{% endblock body_component %}