{#############################################################################
 # Form containers
 #############################################################################}

{# FORM #}
{% block form %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock form %}

{# FORM_START #}
{% block form_start %}
    {# check the form method #}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    {# perpare the form classes #}
    {% set class = "" %}
    {% if form.vars.elektra is defined %}
        {% if form.vars.elektra.classes is defined %}
            {% set class = form.vars.elektra.classes|join(' ') %}
        {% endif %}
    {% endif %}
    {# output the HTML #}
    <form
            role="form"
            name="{{ form.vars.name }}"
            method="{{ form_method }}"
            action="{{ action }}"
            class="{{ class }}"
    {% for attrname, attrvalue in attr %}
        {{ attrname }}="{{ attrvalue }}"
    {% endfor %}
    {% if multipart %}
        enctype="multipart/form-data"
    {% endif %}
    >
    {# add the _method input #}
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}"/>
    {% endif %}
{% endblock form_start %}

{# FORM_END #}
{% block form_end %}
    {% if not render_rest is defined or render_rest %}
        {{ form_rest(form) }}
    {% endif %}
    </form>
{% endblock form_end %}

{# FORM_WIDGET #}
{% block form_widget %}
    {% if compound %}
        {{ block('form_widget_compound') }}
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{%- endblock form_widget %}

{# FORM_ROWS #}
{% block form_rows -%}
    {% for child in form %}
        {{- form_row(child) -}}
    {% endfor %}
{%- endblock form_rows %}

{# FORM_ROW #}
{% block form_row %}
    {% set class = class|default('') %}
    {% set addclass = addclass|default('') %}
    {% set shown = true %}
    {% if form.vars.hideForm is defined and form.vars.hideForm == true %}
        {% set shown = false %}
    {% endif %}
    {% if shown == true %}
        {% set class = class ~ ' form-group' %}
        {% if errors|length > 0 %}
            {% set class = class ~ ' has-error has-feedback' %}
        {% endif %}
        <div class="{{ class }}">
            {{ form_label(form) }}
            <div class="col-sm-10 {{ addclass }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endif %}
{% endblock form_row %}

{% block checkbox_row %}
    {% set addclass = ' col-sm-offset-2' %}
    {{- block('form_row') -}}
{% endblock checkbox_row %}

{% block checkbox_label %}
    {# NO Label to show at the default position #}
{% endblock checkbox_label %}

{# FORM_REST #}
{% block form_rest -%}
    {% for child in form -%}
        {% if not child.rendered %}
            {{- form_row(child) -}}
        {% endif %}
    {%- endfor %}
{% endblock form_rest %}

{# FORM_ERRORS #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        {%- for error in errors -%}
            <span class="help-block">{{ error.message|trans }}</span>
        {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}

{#############################################################################
 # Form widgets
 #############################################################################}

{# FORM_LABEL #}
{% block form_label %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label class="col-md-2 control-label"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}
        </label>
    {% endif %}
{% endblock form_label %}

{# FORM_WIDGET_SIMPLE #}
{% block form_widget_simple -%}
    {% set type = type|default('text') -%}
    <input
            class="form-control"
            type="{{ type }}"
            {{ block('widget_attributes') }}
            {% if value is not empty %}
                value="{{ value }}"
            {% endif %}
            />
{%- endblock form_widget_simple %}

{# FORM_WIDGET_COMPOUND #}
{% block form_widget_compound -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound %}


{# TEXTAREA_WIDGET #}
{% block textarea_widget -%}
    <textarea class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget %}

{# CANCEL_WIDGET (custom button type) #}
{% block cancel_widget %}
    {% set type = type|default('submit') %}
    {{ block('button_widget') }}
{% endblock cancel_widget %}

{# BUTTONGROUP_WIDGET #}
{% block buttonGroup_widget %}
    {% for button in form.children %}
        {% if (button.vars.showForm is defined and button.vars.showForm == true) or button.vars.showForm is not defined %}
            {{ form_widget(button) }}
        {% endif %}
    {% endfor %}
{% endblock buttonGroup_widget %}

{# BUTTONGROUP_ROW #}
{% block buttonGroup_row %}
    {{ block('button_row') }}
{% endblock buttonGroup_row %}

{# BUTTON_ROW #}
{% block button_row -%}
    <div class="form-group text-center">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row %}

{# CHOICE_WIDGET_COLLAPSED #}
{% block choice_widget_collapsed -%}
    {% if required and empty_value is none and not empty_value_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    <select class="form-control" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {%- endif %}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {% if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif %}
        {%- endif -%}
        {% set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed %}

{# CHECKBOX_WIDGET #}
{% block checkbox_widget -%}
    {% if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    <div class="checkbox">
    <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    <b>{{ label|trans({}, translation_domain) }}</b>
    </label>
    </div>
{%- endblock checkbox_widget %}



{#&#123;&#35; ENTITYLIST_WIDGET &#35;&#125;#}
{#{% block entityList_widget %}#}
    {#&#123;&#35; nothing to display in form &#35;&#125;#}
{#{% endblock entityList_widget %}#}
