{% set renderBackButton = flow.getFirstStepNumber() < flow.getLastStepNumber() and flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
{%- set isLastStep = flow.getCurrentStepNumber() == flow.getLastStepNumber() -%}

<div class="form-group">
    <div class="col-md-10 col-md-offset-2 text-center" style="margin-top: 10px;">
        <div class="craue_formflow_buttons craue_formflow_button_count_{% if renderBackButton %}3{% else %}2{% endif %}">
            {#
                Default button (the one trigged by pressing the enter/return key) must be defined first.
                Thus, all buttons are defined in reverse order and will be reversed again via CSS.
                See http://stackoverflow.com/questions/1963245/multiple-submit-buttons-specifying-default-button
            #}
            <button type="submit" class="btn btn-danger" name="{{ flow.getFormTransitionKey() }}" value="reset"
                    formnovalidate="formnovalidate">
                {{- 'button.reset' | trans({}, 'CraueFormFlowBundle') -}}
            </button>

            {% if renderBackButton %}
                <button type="submit" class="btn" name="{{ flow.getFormTransitionKey() }}" value="back" formnovalidate="formnovalidate">
                    {{- 'button.back' | trans({}, 'CraueFormFlowBundle') -}}
                </button>
            {% endif %}

            <button type="submit" class="btn {% if isLastStep %}btn-success{% else %}btn-primary{% endif %}">
                {{- (isLastStep ? 'button.finish' : 'button.next') | trans({}, 'CraueFormFlowBundle') -}}
            </button>

        </div>
    </div>
</div>