{#############################################################################
 # @author    Florian Eichler <florian@eichler.co.at>
 # @author    Alexander Spengler <alexander.spengler@habanero-it.eu>
 # @copyright 2014 Florian Eichler, Alexander Spengler. All rights reserved.
 # @license   MINOR add a license
 # @version   0.1-dev
 #############################################################################}

{% extends "ElektraSiteBundle::base.html.twig" %}

{% block content %}
    {#<div>#}
        {#Steps:#}
        {#{% include 'CraueFormFlowBundle:FormFlow:stepList.html.twig' %}#}
        {% include 'ElektraSiteBundle:Site:request-steplist.html.twig' %}
    {#</div>#}

    {{ form_start(form) }}
    <div class="tab-content" style="margin-top: 15px;"><div class="tab-pane active">
    {% if flow.currentStepNumber == 1 %}
        {# Show Terms & Conditions text #}
        <p>TODO Add Terms & Conditions Text here</p>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet.</p>
    {% elseif flow.currentStepNumber == 2 %}
        {# Show Objectives text #}
        {{ form_widget(form.requestNumber) }}
        <p>TODO Add Objectives Text here</p>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet.</p>
    {% elseif flow.currentStepNumber == 3 %}
        {# Form Data only? #}
        {{ form_widget(form.requestNumber) }}
    {% elseif flow.currentStepNumber == 4 %}
        {# View Data? #}
        {#{{ form.data.getRequestNumber() }}#}
    {% endif %}


    {{ form_widget(form) }}
    {% include 'ElektraSiteBundle:Site:request-buttons.html.twig' %}
        </div></div>
    {{ form_end(form) }}

{% endblock content %}

{% block debug_content %}
    Site:Site:request-1.html.twig
{% endblock debug_content %}