<!DOCTYPE html>

<html>

<head>

    {# character set #}
    {% block head_charset %}
        <meta charset="UTF-8"/>
    {% endblock head_charset %}

    {# metadata #}
    {% block head_metadata %}
    {% endblock head_metadata %}

    {# viewport #}
    {% block head_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock head_viewport %}

    {# page title #}
    <title>{% block title %}Elektra ThemeBundle Base Template{% endblock %}</title>

    {# favicon #}
    {% block head_favicon %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% endblock head_favicon %}

    {# stylesheets #}
    {% block head_stylesheets %}
        {% if theme_page.stylesBootstrapCore %}
            {% include theme_page.bundle ~ ':Includes/Styles:bootstrap_core.html.twig' %}
        {% endif %}
        {% if theme_page.stylesBootstrapExtensions %}
            {% include theme_page.bundle ~ ':Includes/Styles:bootstrap_extensions.html.twig' %}
        {% endif %}
        {% if theme_page.stylesFontAwesomeCore %}
            {% include theme_page.bundle ~ ':Includes/Styles:fontAwesome_core.html.twig' %}
        {% endif %}
        {% if theme_page.stylesTheme %}
            {% include theme_page.bundle ~ ':Includes/Styles:theme.html.twig' %}
        {% endif %}
    {% endblock head_stylesheets %}

    {# javascripts (head part) #}
    {% block head_javascripts %}
        {% javascripts %}
        {% endjavascripts %}
    {% endblock head_javascripts %}

</head>

<body id="{{ theme_page.bodyId }}" class="{{ theme_page.bodyClasses|join(' ') }}">

{# body content -> every application output goes in here #}
{% block body_content %}
    {{ theme_page.bundle ~ ':Includes/Styles:bootstrap_core.html.twig' }}

    <span class="glyphicon glyphicon-search"></span>
    <span class="fa fa-search"></span>
{% endblock %}

{# javascripts (body part) #}
{% block body_javascripts %}
    {% if theme_page.scriptsJQuery %}
    {% javascripts filter="jsminplus,uglifyjs2" combine=true
    '../vendor/yiisoft/jquery/jquery.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    {% endif %}
    {% if theme_page.scriptsBootstrap %}
    {% javascripts filter="jsminplus,uglifyjs2" combine=true
    "../vendor/twbs/bootstrap/js/transition.js"
    "../vendor/twbs/bootstrap/js/alert.js"
    "../vendor/twbs/bootstrap/js/button.js"
    "../vendor/twbs/bootstrap/js/carousel.js"
    "../vendor/twbs/bootstrap/js/collapse.js"
    "../vendor/twbs/bootstrap/js/dropdown.js"
    "../vendor/twbs/bootstrap/js/modal.js"
    "../vendor/twbs/bootstrap/js/tooltip.js"
    "../vendor/twbs/bootstrap/js/popover.js"
    "../vendor/twbs/bootstrap/js/scrollspy.js"
    "../vendor/twbs/bootstrap/js/tab.js"
    "../vendor/twbs/bootstrap/js/affix.js" %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    {% endif %}
{% endblock body_javascripts %}

</body>
</html>