{% macro addLink(href, text) %}
    <a href="{{ href }}" class="btn btn-add btn-xs">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="hidden-sm hidden-xs">&nbsp;{{ text|default('Add') }}</span>
    </a>
{% endmacro %}

{% macro editLink(href, text) %}
    <a href="{{ href }}" class="btn btn-edit btn-xs">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm hidden-xs">&nbsp;{{ text|default('Edit') }}</span>
    </a>
{% endmacro %}

{% macro deleteLink(href, text) %}
    <a href="{{ href }}" class="btn btn-delete btn-xs" onclick="return confirm('Do you really want to delete this entry?');">
        <span class="glyphicon glyphicon-remove"></span>
        <span class="hidden-sm hidden-xs">&nbsp;{{ text|default('Delete') }}</span>
    </a>
{% endmacro %}