{# ElektraThemeBundle - basic site template #}
{% extends "ElektraThemeBundle::base.html.twig" %}
{% import "ElektraThemeBundle:Macros:tables.html.twig" as tables %}

{# Set the page title if defined #}
{% block title %}
    {% if theme.pageVar('title') is not null %}
        {% if theme.pageVar('title_prefix') is not null and theme.pageVar('title_prefix')|trans != theme.pageVar('title_prefix') %}
            {{ theme.pageVar('title_prefix')|trans() }} -
        {% endif %}
        {{ theme.pageVar('title')|trans }} {# make sure to use the plural #}
        {% if theme.pageVar('title_suffix') is not null and theme.pageVar('title_suffix')|trans != theme.pageVar('title_suffix') %}
            - {{ theme.pageVar('title_suffix')|trans }}
        {% endif %}
    {% endif %}

{% endblock title %}

{# define the layout fot the body content #}
{% block body_content %}
    {# Navigation Bar (Top Navigation) #}
    {% block navbar %}
        {% if theme.getSubTemplate('navbar') is not null %}
            {% include theme.getSubTemplate('navbar') %}
        {% endif %}
    {% endblock %}

    {# System Messages #}
    {% block messages %}
        {% if theme.getSubTemplate('messages') is not null %}
            {% include theme.getSubTemplate('messages') %}
        {% endif %}
    {% endblock messages %}

    {# Page Heading & Section #}
    {% block page_heading %}
        {% if theme.pageVar('heading') or theme.pageVar('section') %}
            <div class="container">
                <h1 class="page_heading clearfix">
                    {% if theme.pageVar('heading') %}
                        <small class="pull-left">
                            {{ theme.pageVar('heading')|transchoice(theme.pageVar('heading_p'), {'%action%': theme.pageVar('heading_a')|trans}) }}
                        </small>
                    {% endif %}
                    {% if theme.pageVar('section') %}
                        <span class="pull-right">{{ theme.pageVar('section')|trans }}</span>
                    {% endif %}
                </h1>
            </div>
        {% endif %}
    {% endblock page_heading %}

    {# TODO src: add any filter bar or breadcrumbs here? #}

    <div class="container">
        {# Main page content - to be overriden / used in the specific templates #}
        {% block main_content %}
            {#{{ table.style.setStriped }}#}
            {#{{ table.style.setFullWidth }}#}
            {#{% table1.striped = 1 %}#}
            {% if table is defined %}
                {{ tables.show(table) }}
            {% endif %}
            {#{% for entry in entries %}#}

            {#{% if string1 is defined %}#}
                {#Template: <br/>#}
                {#{{ string1|trans }}<br/>#}
            {#{% endif %}#}

            {#{% endfor %}#}
        {% endblock main_content %}
    </div>

    {# Footer (navigation bar 2) #}
    {% block footer %}
        {% if theme.getSubTemplate('footer') is not null %}
            {% include theme.getSubTemplate('footer') %}
        {% endif %}
    {% endblock footer %}

{% endblock body_content %}