{# ElektraThemeBundle - form rendering #}


{# FORM #}
{% block form -%}
    {{ form_start(form) }}
    {{- form_widget(form) -}}
    {{ form_end(form) }}
{%- endblock form %}

{# FORM_START #}
{% block form_start -%}
    {# define the form method tag #}
    {% set method = method|upper %}
    {% if method in ["GET","POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}

    {# define classes for the form #}
    {% set class = "" %}
    {% if form.vars.elektra is defined %}
        {% if form.vars.elektra.type is defined %}
            {% if form.vars.elektra.type == 'horizontal' %}
                {% set class = class ~ ' form-horizontal' %}
            {% elseif form.vars.elektra.type == 'inline' %}
                {% set class = class ~ ' form-inline' %}
            {% endif %}
        {% endif %}
        {% if form.vars.elektra.classes is defined %}
            {% set class = class ~ ' ' ~  form.vars.elektra.classes %}
        {% endif %}
    {% endif %}

    {# output the HTML tag#}
    <form
            role="form"
            name="{{ form.vars.name }}"
            method="{{ form_method }}"
            action="{{ action }}"
            class="{{ class }}"
    {% for attrname, attrvalue in attr %}
        {{ attrname }}="{{ attrvalue }}"
    {% endfor %}
    {% if multipart %}
        enctype="multipart/form-data"
    {% endif %}
    >

    {# add the _method input #}
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}"/>
    {%- endif -%}
{%- endblock form_start %}

{# FORM_END #}
{% block form_end -%}
    {% if not render_rest is defined or render_rest %}
        {{- form_rest(form) -}}
    {% endif -%}
    </form>
{%- endblock form_end %}

{% block form_widget -%}
    {% if compound %}
        {{- block('form_widget_compound') -}}
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}
{%- endblock form_widget %}

{% block form_widget_simple -%}
    {% set type = type|default('text') -%}
    <div class="col-sm-10">
        <input
                class="form-control"
                type="{{ type }}"
                {{ block('widget_attributes') }}
                {% if value is not empty %}
                    value="{{ value }}"
                {% endif %}
                />
    </div>
{%- endblock form_widget_simple %}

{% block form_widget_compound -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound %}

{% block form_rows -%}
    {% for child in form %}
        {{- form_row(child) -}}
    {% endfor %}
{%- endblock form_rows %}

{% block form_row -%}
    <div class="form-group">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row %}

{% block button_row -%}
    {#{% if 'first-btn' in attr %}#}
    <div class="form-group text-center">
        {#{% endif %}#}
        {{- form_widget(form) -}}
        {#{% if 'last-btn' in attr %}#}
    </div>
    {#{% endif %}#}

    {#<div class="asdf">#}
    {#{{- form_widget(form) -}}#}
    {#</div>#}
{%- endblock button_row %}

{% block form_rest -%}
    {% for child in form -%}
        {% if not child.rendered %}
            {{- form_row(child) -}}
        {% endif %}
    {%- endfor %}
{% endblock form_rest %}

{% block link_widget %}
    {% set link = '#' %}
    {% if route is not empty %}
        {% set link = path(route, route_attr) %}
    {% endif %}
    <a href="{{ link }}" {{ block('link_attributes') }}>
        {{ text }}
    </a>
    {{ link }}
    {#{{ route }}#}
    {#{{ dump(route_attr) }}#}
    {#{{ dump(target) }}#}
{% endblock link_widget %}

{% block link_attributes %}
    id="{{ id }}"
    name="{{ full_name }}"
    {% if disabled %}disabled="disabled"{% endif %}
    {% if target %}target="{{ target }}{% endif %}
    {% for attrname, attrvalue in attr %}
        {{ " " }}
        {% if attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {% endfor %}
{% endblock link_attributes %}

{% block cancel_widget %}
    {% set type = type|default('submit') %}
    {{- block('button_widget') -}}
{% endblock cancel_widget %}

{% block buttongroup_widget %}
    {% for button in form.children %}
        {{ form_widget(button) }}
    {% endfor %}
{% endblock buttongroup_widget %}

{% block buttongroup_row %}
    {{ block('button_row') }}
{% endblock buttongroup_row %}

{% block form_label -%}
    {% if label is not sameas(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <label class="col-md-2 control-label"{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}
        </label>
    {%- endif %}
{%- endblock form_label %}

{% block textarea_widget -%}
    <div class="col-sm-10">
        <textarea class="form-control" {{ block('widget_attributes') }}>{{ value }}</textarea>
    </div>
{%- endblock textarea_widget %}