{% extends "ElektraSiteBundle::layout.html.twig" %}

{# TODO src: make the listing of entries generic #}
{% block body_component %}
    <div class="container">
        <table class="table table-condensed table-striped table-hover" style="width: 100%">
            <thead>
            <tr>
                <th style="width: 5%">ID</th>
                <th>Seed Unit</th>
                <th style="width: 15%" class="text-right">Actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="3" class="text-right">
                    {{ macro.addLink(path('_cesu_seed_units_add'),'New') }}
                </td>
            </tr>
            </tfoot>
            <tbody>
            {% if entries|length > 0 %}
                {% for unit in entries %}
                    <tr>
                        <td>{{ unit.id }}</td>
                        <td>
                            <span><strong>{{ unit.serialNumber }}</strong></span>
                        </td>
                        <td class="text-right">
                            {{ macro.editLink(path('_cesu_seed_units_edit', {'id': unit.id})) }}
                            {{ macro.deleteLink(path('_cesu_seed_units_delete', {'id': unit.id})) }}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <td colspan="3">
                    No Units defined
                </td>
            {% endif %}
            </tbody>
        </table>

    </div>
{% endblock body_component %}